on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Action should work
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Setup IP-based Access to AES
        uses: ./ # test local action `zachguo/setup-aes-ip-access@v1`
        with:
          domain: ${{ secrets.AES_DOMAIN }}

      - name: AES access policy should be updated
        run: echo "Updated"